body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
main {

  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  font-family: 'Poppins', sans-serif;
}

.register-page {
  margin: auto;
  margin-top: 5%;
  padding-bottom: 5%;
}

.form {
  z-index: 1;
  background: #FFFFFF;
  width: 30%;
  height: 60%;
  margin: auto;
  padding: 45px;
  text-align: center;
  box-shadow: 1px 1px 12px #555;
}

.form input,select{
  outline: 0;
  background: #f2f2f2;
  width: 100%;
 
  border: none;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  display: inline-block;
}


.btn {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form a {

  font-family: "Suez One";
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.topnav {
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid #16375e;
}
.topnav2{
  display: none;
  padding-bottom: 10px;
  background-color: white;
  border-bottom: 1px solid #16375e;
}

.direction {
  text-transform: uppercase;
  float: left;
  font-weight: 600;
  margin-top: 0.9em;
  color: #16375e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.logo{
  width: 140px;
  float: left;
  height:auto;
  margin-top: 0.9em ;
  margin-left: 20%;
  margin-right: 5%;
  margin-bottom: 10px;
}


#connexion {
  float: left;
  margin-left: 5%;
  margin-top: 5px;
  margin-top: 1.5em;
 

}
 #btnCO{
    width: 50%;
    height: 20%;
    margin-bottom: 15px;
    background-color: #16375e;
  }
  .reponse{
    display: block;
    color: red;
  }
  input[type=checkbox]{
    height: 30px;
    width: 30px;
    display: block;
    margin: auto;
    margin-bottom: 2%;
  }
  
  



.popup-overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;

  height:100vh;
  z-index:1;
  background:rgba(0,0,0,0.5);
  display:none;
}
.popup {
  padding: 10px;
  position:absolute;
  font-size: 20px;
  top:-150%;
  left:50%;
  transform:translate(-50%,-50%) scale(1.15);
  width:40%;
  background:white;
  text-align: center;
  z-index:2;
  opacity:0;
  box-shadow:5px 5px 3px rgba(0,0,0,0.2);
  transition:transform 300ms ease-in-out,opacity 300ms ease-in-out;
}
body.showLoginForm .popup-overlay {
  display:block;
}
body.showLoginForm .popup {
  top:50%;
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
}
.popup .popup-close {
  position:absolute;
  top:-10px;
  right:-10px;
  width:40px;
  height:40px;
  background:#555;
  color:#f5f5f5;
  font-size:25px;
  font-weight:600;
  text-align:center;
  border-radius:50%;
  cursor:pointer;
}
.popup .form .avatar {
  margin:30px 0px 20px;
  text-align:center;
}
.avatar img {
  width:120px;
  border-radius:50%;
}
input {
  
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  display: block;
  margin: auto;
  border: 0;
  margin-bottom: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}
.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  margin-bottom: 15px;
}
#message{
  display: block;
  color: red; 
}
#inscription{
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  margin-top: 1.5em;
}


.aWhite{
background-color: white;
  color: #F39200;
  border : 1px solid #F39200;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
border-radius: 5px;
cursor: pointer;
}

.aOrange{

  background-color: #F39200;
  color: white;
  border : 1px solid #F39200;
  padding: 10px;  
  font-size: 15px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.separation{
 background-color: black;
  height: 1px;
  width: 100%;
  margin-bottom: 15px;
}
.addSubject{


 float: left;
 margin-bottom: 20px;
}
.removeSubject{
  float: right;
  margin-bottom: 20px;
}
.wongInput{
  border: 1px solid red;
}
#FirstName,#Surname{
width: 49.5%;
}
#prefix{
  width: 25%;
  padding-right: 1px;
  padding-left: 5px;
}
  #Phone{
    width: 73%;
    }


    
    #titre{

      font-size: 39px;
      color: #16375e;
      font-family: "Suez One";
      font-weight: 400;
    }
    .footer {
      border-top: 1px solid #16375e;
      height: 120px;
      width: 100%;
      position: relative;
      background-color: white;
      color: black;
      bottom: 0px;
    }
    .entreprise{
      color: black;
      float: left;
      height: 100%;
      width: 30%;
    }
    .entreprise p{
     font-size: 15px;
     font-weight: 400;
     line-height: 1.2em;
     
    }
    
    .contact p{
      font-size: 15px;
      font-weight: 600;
      line-height: 1.2em;
      
     }

.logoFooter{
  width: 80px;
  float: left;
  height:100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
}
.logoSocial{

  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.contact{
  margin-left: 0px;
  float: right;
  height: 100%;
  width: 30%;
}

.contact a{
  cursor: pointer;
}


@media all and (max-device-width: 768px) {

  .dropbtn {
 
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: white;
     
  }
  
  .dropdown {
    background-color: white;
    position: relative;
    display: inline-block;
  }


  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    
    width: 350px;
 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  .dropdown:hover .dropdown-content{
      display: block;
    }
    .logo{
  
      margin-right: 30%;
    }
  
    .dropdown-content a {
      float: none;
  text-transform: uppercase;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      height: 30%;
      text-align: center;    
    font-weight: 600;
    color: #16375e;
    font-size: 30px;
    }
    .menu{
      width: 40px;
      height: 40px;
      margin-top: 10px;
    }
  .topnav{
    display: none;
  }
  .topnav2{
    height: 70px;
    display: block;
  }

}


@media all and (max-device-width: 700px) {
    body{
        height: 100vh;
    }
  .dropbtn {
 
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: white;
     
  }
  
  .dropdown {
    background-color: white;
    position: relative;
    display: inline-block;
  
   
  }
  .footer{
    position: absolute;
  }
  .popup{
    width: 800px;
    height: 800px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    

    width: 350px;
 ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  .dropdown:hover .dropdown-content{
      display: block;
    }
    .logo{
  
      margin-right: 30%;
    }
    .message{
      font-size: 25px;
    }
    #btnCO {
      width: 80%;
      margin-bottom: 15px;
      font-size: 30px;
      height: 70px;
    }
    .dropdown-content a {
      float: none;
  text-transform: uppercase;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      height: 30%;
      text-align: center;    
    font-weight: 600;
    color: #16375e;
    font-size: 30px;
    }
    .menu{
      width: 40px;
      height: 40px;
      margin-top: 10px;
    }
  .topnav{
    display: none;
  }
  .topnav2{
    height: 70px;
    display: block;
  }
  .direction{

    border-bottom: 1px solid #16375e;
  }

  .popup{
    
    width: 800px;
    height: 800px;

  }



.form{

width: 80%;
}

.form2 {
  z-index: 1;
  background: #FFFFFF;
  
  height: 100%;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form a {
  font-size: 30px;
  
}

input[type=text], input[type=password], input[type=file], input[type=number] {
 
  height: 100px;
  font-size: 30px;
}
select {
 
  height: 100px;
  font-size: 25px;
}
input[type=checkbox]{

  display: block;
  width: 60px;
  margin: auto;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#AddSubject{

  width: 200px;
  height: 80px;
  font-size: 30px;
}

#RemoveSubject{
  width: 200px;
  height: 80px;
  font-size: 30px;
}
#verification{
  width: 100%;
  height: 80px;
  font-size: 30px;
}
}