body {
    background: #fbfbfb;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  .topnav {
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #16375e;
  }
    
  #membre {
    float: left;
    margin-left: 5%;
    margin-top: 5px;
    margin-top: 1.5em;
   
  
  }
  
  #deco{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-top: 1.5em;
  }
  
  .aWhite{
  background-color: white;
    color: #16375e;
    border : 1px solid #16375e;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
  border-radius: 5px;
 
  }
  
  .aOrange{
  
    background-color: #16375e;
    color: white;
    border : 1px solid #16375e;
    padding: 10px;  
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
  
  }
  
  .topnav2{
    display: none;
    padding-bottom: 10px;
    background-color: white;
    border-bottom: 1px solid #16375e;
  }
  .direction {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    float: left;
    margin-top: 0.9em;
    font-weight: 600;
    color: #16375e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .logo{
    width: 140px;
    float: left;
    height:auto;
    margin-top: 0.9em ;
    margin-left: 20%;
    margin-right: 5%;
    margin-bottom: 10px;
  }
  
  .container {
    background: #FFFFFF;
    width: 600px;
    margin: auto;
    padding: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    box-shadow: 1px 1px 12px #555;
  }
  #totalHour{
    margin: auto;
    font-family: "Suez One";
    font-size: 15px;
  }
  .title{
   
    font-size: 39px;
    text-align: center;
    color: #16375e;
    font-family: "Suez One";
    font-weight: 400;
      }
    .title2{
        font-size: 20px;
        text-align: center;
        color: black;
        font-family: "Suez One";
        font-weight: 500;
          }
      
  
  .imgValidation
  {
      height: 100px;
      width: 100px;
      display: block;
      margin: auto;
      margin-top: 10px;
  }
  input,select {
    
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .btn {
   
    text-transform: uppercase;
    outline: 0;
    background: #16375e;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.detailsOffers th{
  background-color:#16375e;
  color: white;
  }
  .detailsOffers {
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    
  }
  
  .detailsOffers td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .details{
    border: 2px solid #F39200;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    font-size: 15px;
  }
  .separation{

    width: 100%;
    height: 2px;
    background-color: black;
  }
  .footer {
    border-top: 1px solid #16375e;
    margin-top: 40px;
    height: 120px;
    width: 100%;
    background-color: white;
    color: black;
      bottom: 0px;
  }
  .entreprise{
    color: black;
    float: left;
    height: 100%;
    width: 30%;
  }
  .entreprise p{
   font-size: 15px;
   font-weight: 400;
   font-family: 'Poppins', sans-serif;
   line-height: 1.2em;
   
  }
  
  .contact p{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2em;
    
   }
  
  .logoFooter{
    width: 80px;
    float: left;
    height:100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
  }
  .logoSocial{
  
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
  
  .contact{
    margin-left: 0px;
    float: right;
    height: 100%;
    width: 30%;
  }
  
  .contact a{
    cursor: pointer;
  }
  
  
@media all and (max-device-width: 768px) {

  .dropbtn {
 
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: white;
     
  }
  
  .dropdown {
    background-color: white;
    position: relative;
    display: inline-block;
  }


  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    
    width: 350px;
 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  .dropdown:hover .dropdown-content{
      display: block;
    }
    .logo{
  
      margin-right: 30%;
    }
  
    .dropdown-content a {
      float: none;
  text-transform: uppercase;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      height: 30%;
      text-align: center;    
    font-weight: 600;
    color: #16375e;
    font-size: 30px;
    border-bottom: 1px solid #16375e;
    }
    .menu{
      width: 40px;
      height: 40px;
      margin-top: 10px;
    }
  .topnav{
    display: none;
  }
  .topnav2{
    height: 70px;
    display: block;
  }
  #deco{
    color: red;
  }

}


@media all and (max-device-width: 425px) {
  #membre{
    margin: 0px;
    float: none;
    margin-left:none;
  }
  #deco{
    margin: 0px;
    float: none;
    margin-left:none;

  }
  .dropbtn {
  
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: white;
     
  }
  
  .dropdown {
    background-color: white;
    position: relative;
    display: inline-block;
  }
  
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    
    right: 10px;
  width: 600px;
  
    box-shadow: 1px 1px 12px #555;
    z-index: 1;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  .dropdown:hover .dropdown-content{
      display: block;
    }
    .logo{
  
      margin-right: 30%;
    }
  
    .dropdown-content a {
      height: 100px;  
      padding: 12px 16px;
      font-size: 35px;
    }
    .menu{
      width: 40px;
      height: 40px;
      margin-top: 10px;
    }
    #deco{
      color: red;
    }
  .topnav{
    display: none;
  }
  .topnav2{
    height: 70px;
    display: block;
  }
  .direction{
  
  border-bottom: 1px solid #16375e;
  }
  
  
  .logoFooter {
  width: 130px;
  height: 80%;
  }
  .logoSocial {
  width: 50px;
  height: 50px;
  }
  
  .test{
    display: block;
  }
  .left{
  
    width: 80%;
    height: auto;
    border-radius: 15px;
    margin: auto;
  }
  .left p{
  
      font-size: 30px;
  }
  .left span{
    font-size: 40px;
    
    font-weight: 700;
  }
  .slideshow-container {
    margin-top: 60px;
    width: 100%;
  }
  .container{
    width: 80%;
  }
  .prev, .next{
    font-size: 50px;
  }
  .next{
    right: 5%;
  }
  .prev{
    left: 5%;
  }
  .detailsOffers {
    
    font-size: 27px;
  }
  
  .container h3, .container h4 {
    
    font-size: 25px;
  }
  .btn{
    font-size: 28px;
  }
  input{
    height: 100px;
    font-size: 35px;
  }
  .entreprise p{
    font-size: 20px;
    line-height: 1em;
    width: 550px;
  }
  .contact{
    width: 40%;
  }
  .contact p{
    font-size: 20px;
  }

  
  
  }
  
  
  
  
  
  
  
  
  

  